<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('bootstrap', 'style') %>
        <%- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application') %>
        <%- csrf_meta_tag() %>
        <style>
          .navbar .container { width: 940px;}
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/projects">Makedoc!</a>
                </div>
            </div>
        </div>
    
        <div class="container">

          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a>
              <span class="divider">/</span>
            </li>
            <li class="active"><%- request.params.user %></li>
          </ul>

            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
            
            <hr />
            <footer>
                <p>&copy; 1602 Software</p>
            </footer>
        </div>
    </body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30614813-1']);
      _gaq.push(['_setDomainName', 'jsdoc.info']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</html>
